h4.text-two.column-title Files:

// File Upload Field

label#file-upload-label.drop-label(for='file-upload-field')
    svg.bi(width='18' height='18' fill='currentColor')
        use(xlink:href='/icons.svg#download')
    br
    |     Click or Drop Files Here
    input#file-upload-field(type='file' name='uploads[]' multiple='multiple')

.filelist-wrapper

script.
    (function(w,d){

        function getIcon(ext){
            let icon = "file-earmark";
            if(/\.png|gif|jpg|jpeg|ico|bmp|svg|tiff/.test(ext)){
                icon = "file-earmark-binary";
            }else if(/\.htm|html|ts|css|json|jsx|js/.test(ext)){
                icon = "file-earmark-code";
            }
            let svgclass = `bi-${icon}`; 
            return svgclass;
        }

        let ul = document.createElement('ul');

        //- In slate.js, the first route, I explicitely pass the files. It is inherited through the slate.pug file to this partial. neat!

        for ( let file of !{JSON.stringify(files.children)} ) {
            let li = document.createElement('li'),
                a = document.createElement("a"),
                i = document.createElement("i");

            a.textContent = `${file.name}`;
            a.className = 'file-link';
            i.className = `${getIcon(file.extension)}`;
            a.prepend(i);
            a.setAttribute('href', `/${file.path}`);
            li.appendChild(a);
            ul.appendChild(li);
        }
        let fileList = document.querySelector(".filelist-wrapper");
        fileList.innerHTML = "";
        fileList.appendChild(ul);

    })(window,document);